

.nav-link-custom {
    color: #003f7d ;
    font-weight: 500;
}

.nav-link-custom:hover {

    color: #FF8E00; 
    text-decoration: underline;

}

.nav-link-custom.active {
    color: #d9534f; /* Active color */
    font-weight: 700; /* Optional */
}